body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size:   2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-weight: normal;
}
a{
  color: #11999E;
}

.top {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  position: static;

}

.bottom-container{
  position: static;
}

.span {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  top: 30px;
  right: 300px;
}

.top-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row{
border-radius: 100%;

}

.img1{
  border-radius: 100%;
  width: 25%;
}


.img2{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}


.img3{
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;

}

p{
  color: #40514E;


}

hr{
  padding: 5px;
  border: 5px;
  border-style: none none dotted;
  width: 3%;
  color: grey;

}

.bottom-container{
  height: 50%;
  background-color: #66BFBF;
  padding-bottom: 30px;
  padding-top: 30px;


}

.footer-link{
  margin-left: 30px;
  margin-right: 30px;

}

#hr{
  margin-top: 70px;
  margin-bottom: 70px;

}
